.container	{font-family:Arial,Verdana,serif;
			width:70%;
			margin:0 auto;}
			
.header	{height:140px;
		background-color:black;
		color:#DB7093;
		font-family:Arial,Verdana,serif;
		font-size:32px;
		text-align:center;
		font-weight:bold;
		margin-bottom:10px;}
		
.header h1	{text-align:center;
			position:relative;
			top:25px;}
			
.nav	{height:100px;
		font-size:18px;
		margin-bottom:10px;
		position:relative;
		top:-20px;}

.menu	{font-size:14;
		position:relative;
		left:40px;
		top:21px;
		list-style-type:none;}

.menu 	li	{display:inline;
			padding:15px;
			background-color:#DB7093;
			border-left:10px solid #90EE90;}
			
.menu 	li a{color:white;
			font-weight:bold;
			text-decoration:none;}

.menu 	li a:hover{background-color:#90EE90;
					width:100%;}

	
.content{padding:10px;
		text-align:justify;
		font-size:14px;
		background-color:white;
		height:200px;
		margin-bottom:10px;}
		
.footer	{height:70px;
		background-color:black;
		color:#DB7093;
		font-size:12px;
		text-align:center;}

.copy 	{vertical-align:middle;
		position:relative;
		top:5px;}






