.container	{font-family:Arial,Verdana,serif;
		border-left:2px solid #DB7093;
		border-right:2px solid #DB7093;
		border-bottom:2px solid #DB7093;
		width:90%;
		margin:0 auto;}
			
.header	{height:140px;
		background-color:black;
		border-top:2px solid #DB7093;
		color:#DB7093;
		font-family:Arial,Verdana,serif;
		font-size:32px;
		text-align:center;
		font-weight:bold;
		margin-bottom:10px;}
		
.header h1	{text-align:center;
		position:relative;
		top:-5px;}
			
.menu	{height:100px;
		font-size:18px;
		margin-bottom:10px;
		list-style-type:none;
		position:relative;
		top:-19px;
		left:15%;}

.menu	li	{display:inline;
			font-size:14;
			position:relative;
			top:13px;
			padding-top:15px;
			padding-bottom:15px;
			background-color:#DB7093;
			border-left:10px solid #90EE90;
			font-weight:bold;}

.menu 	li 	a{color:white;
			text-decoration:none;			
			padding:15px;}

.menu 	li:hover {background-color:#90EE90;
				border-left:10px solid #DB7093;}

.menu .active	{background-color:#90EE90;
				border-left:10px solid #DB7093;}

.menu .active:hover{background-color:#DB7093;
			border-left:10px solid #90EE90;}

.colonna	{float:left;
			width:14em;
			position:relative;
			left:10px;
			top:80px;
			height:200px;}

.content{font-family: 'Exo 2', sans-serif;
		padding:10px;
		text-align:justify;
		font-size:14px;
		color:#90EE90;
		background-color:white;
		height:200px;
		margin-left:10px;}

.content p{color:black;
		padding-left:10px;}
		
.footer	{height:40px;
		background-color:black;
		clear:left;
		color:white;
		font-size:12px;
		text-align:right;
		padding-top:20px;}

.footer li {display:inline;
		padding:30px;
		list-style-type:none;
		position:relative;
		top:-40px;
		left:-30%;}

.footer li a{color:#DB7093;
		font-weight:bold;
		position:relative;
		top:30px;}
		
.footer li a:hover{color:red;
		font-weight:bold;
		position:relative;
		top:30px;}

.footer p{position:relative;
		top:-20px;
		right:40px;}

.copy 	{vertical-align:middle;
		position:relative;
		top:5px;}






